
/*css chung của các bảng*/
.table > thead > tr > th, .table > tbody > tr > td {
    padding: 8px 5px;
}

.th-text {
    text-align: center;
}

.td-text {
    text-align: left;
}

.td-date {
    text-align: center;
}

.td-number {
    text-align: right;
}
