.show-hide{
    display:block;
}
.row-selected {
    background-color: #c3ecff !important;
}
button[disabled] {
    color: #7d7b7b;
}
    button[disabled]:hover {
        background-color: #026b97;
    }



    button[disabled] .btn-icon.btn-icon-duplicate {
        background-position: -50px 67px;
    }


    button[disabled] .btn-icon.btn-icon-edit {
        background-position: -75px 67px;
    }

    button[disabled] .btn-icon.btn-icon-delete {
        background-position: -100px 67px;
    }

.text-left{
    padding-left:8px;
    text-align:left;
}

.text-right{
    text-align:right;
}

.text-center{
    text-align: center;
}

.edit-text-grid {
    color: #007abc;
}