<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Quản lý hàng hóa</title>
    <link href="/CSS/View/style.css" rel="stylesheet" />
    <link href="/CSS/Common/header.css" rel="stylesheet" />
</head>
<body>
    <div class="header"></div>
    <div class="menu"></div>
    <div class="content"></div>
    <div class="A">dsadasdIKJOKas</div>

    <!--<div class="table-grid">
        <div class="table-thead-grid">
            <div class="Cell Cell1">
                <div class="uncheck text-align-center" id="checkall"></div>
                <div class=""></div>
                <div class="" style="background-color:white;">

                </div>
            </div>
            <div class="Cell Cell2">
                <div class="text-th">Ngày</div>
                <div class="div-row-input">
                    <div class="box-filter">
                        <div class="icon-filter">=</div>
                    </div>
                    <div class="box-input box-input1">
                        <input type="text" class="input-get-data" id="date" />
                    </div>
                </div>
            </div>
            <div class="Cell Cell2">
                <div class="text-th">Số phiếu nhập</div>
                <div class="div-row-input">
                    <div class="box-filter">
                        <div class="icon-filter">∗</div>
                    </div>
                    <div class="box-input box-input2">
                        <input type="text" id="vouchercode" />
                    </div>
                </div>
            </div>
            <div class="Cell Cell3">
                <div class="text-th">Nhà cung cấp</div>
                <div class="div-row-input">
                    <div class="box-filter">
                        <div class="icon-filter">∗</div>
                    </div>
                    <div class="box-input box-input2">
                        <input type="text" id="vouchercode" />
                    </div>
                </div>
            </div>
            <div class="Cell Cell4">
                <div class="text-th">Tổng tiền</div>
                <div class="div-row-input">
                    <div class="box-filter">
                        <div class="icon-filter">=</div>
                    </div>
                    <div class="box-input box-input4">
                        <input type="text" id="total" />
                    </div>
                </div>
            </div>
            <div class="Cell Cell5">
                <div class="text-th">Diễn giải</div>
                <div class="div-row-input">
                    <div class="box-filter">
                        <div class="icon-filter">∗</div>
                    </div>
                    <div class="box-input box-input5">
                        <input type="text" id="object" />
                    </div>
                </div>
            </div>
            <div class="Cell">
                <div class="text-th">Loại chứng từ</div>
                <div class="col-collumns-right"></div>
                <div class="div-row-input">
                    <div class="box-input box-input6">
                        <span>Tất cả</span>
                    </div>
                    <div class="box-filter icon-down">
                        <div class="icon-filter">
                            <i class="fa fa-chevron-down"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="scroll-body">
        <div class="table-grid table-body-grid">

        </div>
    </div>

    <div class="table-grid">
        <div class="row-table-grid text-bold-detailGrid">
            <div class="Cell Cell1 text-bold"></div>
            <div class="Cell Cell2"></div>
            <div class="Cell Cell2"></div>
            <div class="Cell Cell3"></div>
            <div class="Cell Cell4 text-right ">145.000.000</div>
            <div class="Cell Cell5"></div>
            <div class="Cell"></div>
        </div>
    </div>-->
</body>
</html>