
/* css phần content trang danh mục khách hàng*/
.content-export-top {
    margin: 10px 15px;
    border-radius: 3px;
}

.content-export-bottom {
    margin: 0px 15px;
}
/*css toolbar export*/
.toolbar-export {
    display: flex;
    height: 40px;
    background-color: #337ab7;
}

.toolbar-export .btn-text {
    margin-left: 5px;
}

.btn-toolbar-export {
    background: none;
    height: 100%;
    padding: 2px 10px;
    color: #F5F5F5;
    border: none;
    border-right: 1px solid white;
    display: flex;
}

.btn-icon {
    width: 16px;
    height: 16px;
}

.btn-add-icon {
    background: url('/Content/Icons/common-icon.png') -2px -127px;
}

.btn-delete-icon {
    background: url(/Content/Icons/common-icon.png) -2px -52px;
}

.btn-edit-icon {
    background: url(/Content/Icons/common-icon.png) -1452px 363px;
}

.btn-replication-icon {
    background: url(/Content/Icons/common-icon.png) -977px 363px;
}

.btn-watch-icon {
    background: url(/Content/Icons/common-icon.png) -1601px 363px;
}

.btn-print-icon {
    background: url(/Content/Icons/common-icon.png) -228px 363px;
}

/*css phần filer dữ liệu*/
.filter-get-data {
    display: flex;
    height: 58px;
    padding: 12px 10px;
    background-color: white;
}

.date-filer {
    display: flex;
    margin: 0px 10px;
}

.select-time select {
    height: 100%;
}

.div-date {
    display: flex;
    border: 1px solid rgb(169, 169, 169);
}

.date-input {
    height: 100%;
    padding: 3px 5px;
    border: none;
    max-width: 115px;
}

.date-from-text {
    margin: auto 0px;
    padding-right: 5px;
}

.date-to-text {
    margin: auto 0px;
    padding: 0px 5px 0px 10px;
}

.date-icon {
    background: url(/Content/Icons/common-icon.png) -318px 6px;
    width: 30px;
    height: 100%;
    text-align: center;
}

.get-data {
    display: flex;
    border: 1px solid #337ab7;
    color: #337ab7;
    padding-right: 10px;
}

.get-data-text {
    margin: auto 0px;
}

.get-data-icon {
    background: url(/Content/Icons/common-icon.png) -597px 371px;
    width: 20px;
    height: 100%;
    text-align: center;
}

.div-radius {
    border-radius: 3px;
}
